<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <% let total=0 %>
  <section>
    <div>Airline :</div>
    <div><%= flight.airline %><a href="/flights/<%= flight._id %>/edit"><button type="submit" id="edit-button">Edit Flight</button></a></div>
    <div>Airport :</div>
    <div><%= flight.airport %></div>
    <div>FlightNo :</div>
    <div><%= flight.flightNo %></div>
    <div>Departs :</div>
    <div><%= flight.departs %></div>
    <div> Your meals :</div>
    <ul>
      <% flight.meals.forEach(ele =>{ %>
    <li><%= ele.meal %> </li>
        <% }) %>
    </ul>
  </section>
  <form id="select-meal" method="POST" action="/flights/<%= flight._id %>/meals">
    <select name="mealId">
      <% meals.forEach(element => { %>
       <option value="<%= element._id %>"><%= element.meal %></option>
      <% }) %>
    </select>
  <button type="submit" id="add-your-meal">Add your meal</button>
  </form> 
  <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <h2>Flight Tickets</h2>
    <label for="seat-input">Seat(s)</label>
    <input name="seat" id="seat-input" required pattern="[A-F][1-9]\d?">
    <label for="ticket-price">Price(s)</label>
    <input name="price" id="seat-input">
    <button type="submit" id="ticket-btn">Add Ticket</button>
  </form>
  <% if(flight.tickets.length) {%>
    <table>
      <thead>
        <tr>
         <th>S.No</th>
          <th>Seat No</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
       
        <% flight.tickets.forEach(ticket => { %>
          <% total=total+1 %>
          <tr>
          <td><%= total %></td>
        <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
     <td>
      <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST" >
        <button>Delete</button>
      </form>
     </td>
    </tr>
         
        <% }) %>
      
      </tbody>
    </table>
    <% } else { %>
      <h3> No Tickets booked</h3>
      <%}  %>
    
</main>
<%- include('../partials/footer') %>